<div class='row'>
  <h2>Followed posts</h2>

  <% @posts.each do |post| %>
    <div class='col-3 p-2'>
      <div class='p-3' style='border: 1px solid #ccc; border-radius: 5px;'>
        <div class='row'>
          <div class='col-6'>
            <h4>I need...</h4>
            <% post.demand.attributes.except!('id', 'post_id', 'created_at', 'updated_at').compact.each do |key, count| %>
              <p><%= suppliments_names_units[key]['eng_name'] %> <%= count %> <%= suppliments_names_units[key]['eng_unit'] %></p>
            <% end %>
          </div>
          <div class='col-6'>
            <h4>I can provide...</h4>
            <% post.supply.attributes.except!('id', 'post_id', 'created_at', 'updated_at').compact.each do |key, count| %>
              <p><%= suppliments_names_units[key]['eng_name'] %> <%= count %> <%= suppliments_names_units[key]['eng_unit'] %></p>
            <% end %>
          </div>
        </div>

        <hr />

        <div>
          Preferred Exchange Method: <%= post.exchange_method == 'Both' ? 'Mail or In Person' : post.exchange_method %>
          <br />
          Preferred Exchange Date & Time: <%= post.preferred_date_time %>
          <br />
          Preferred Exchange Place: <%= post.preferred_place %>
          <br />
        </div>

        <hr />

        <div>
          <b>Contact</b>
          <br />
          Phone: <%= post.phone %>
          <br />
          Email: <%= post.email %>
          <br />
          Other SNS link: <%= post.other_sns_urls %>
        </div>

        <hr />

        <div class='row'>
          <div class='col-4' data-toggle="modal" data-target="#contact_modal_<%= post.id %>">
            <button class='btn btn-success'>Contact</button>
          </div>
          <div class='col-4'>
            <%= button_to 'Unfollow', "/posts/unfollow/#{post.id}?redirect_path=followed_posts", class: 'btn btn-danger' %>
          </div>
        </div>

      </div>
    </div>
  <% end %>
</div>
