<h2>My posts</h2>
<hr />

<div class='row'>
  <% @posts.each do |post| %>
    <div class='col-lg-3 p-2'>
      <div class='p-3 card'>
        <div class='row' style='height: 250px; overflow: auto;'>
          <div class='col-lg-6'>
            <h4>I need...</h4>
            <% post.demand.attributes.except!('id', 'post_id', 'created_at', 'updated_at').compact.each do |key, count| %>
              <p><%= suppliments_names_units[key]['eng_name'] %> <%= count %> <%= suppliments_names_units[key]['eng_unit'] %></p>
            <% end %>
          </div>
          <div class='col-lg-6'>
            <h4>I can provide...</h4>
            <% post.supply.attributes.except!('id', 'post_id', 'created_at', 'updated_at').compact.each do |key, count| %>
              <p><%= suppliments_names_units[key]['eng_name'] %> <%= count %> <%= suppliments_names_units[key]['eng_unit'] %></p>
            <% end %>
          </div>
        </div>

        <hr />

        <div style='height: 80px; overflow: auto;'>
          Preferred Exchange Method: <%= post.exchange_method == 'Both' ? 'Mail or In Person' : post.exchange_method %>
          <br />
          Preferred Exchange Date & Time: <%= post.preferred_date_time %>
          <br />
          Preferred Exchange Place: <%= post.preferred_place %>
          <br />
        </div>

        <hr />

        <div style='height: 80px; overflow: auto;'>
          <b>Contact</b>
          <br />
          Phone: <%= post.phone %>
          <br />
          Email: <%= post.email %>
          <br />
          Other SNS link: <%= post.other_sns_urls %>
        </div>

        <hr />

        <div class='row'>
          <div class='col-lg-6'>
            <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-warning' %>
          </div>

          <div class='col-lg-6'>
            <% if post.open_status %>
              <%= button_to 'Close', "/posts/close/#{post.id}?redirect_path=my_posts", class: 'btn btn-danger' %>
            <% else %>
              <%= button_to 'Reopen', "/posts/reopen/#{post.id}?redirect_path=my_posts", class: 'btn btn-danger' %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  <% end %>
</div>
