<div class="modal fade" id="contact_modal_<%= post.id %>" tabindex="-1" role="dialog" aria-labelledby="contact_modal_<%= post.id %>_label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contact_modal_<%= post.id %>_label"><%= t 'contact.title' %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= t 'contact.phone' %>: <%= post.phone %>
        <br />
        <%= t 'contact.email' %>: <%= post.email %>
        <br />
        <%= t 'contact.other' %>: <%= post.other_sns_urls %>
      </div>
    </div>
  </div>
</div>
