<div class="modal fade" id="contact_modal_<%= post.id %>" tabindex="-1" role="dialog" aria-labelledby="contact_modal_<%= post.id %>_label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="contact_modal_<%= post.id %>_label"><%= t 'contact.title' %></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5><i class="fas fa-phone"></i> <%= post.phone %></h5>
        <br />
        <h5><i class="far fa-envelope"></i> <%= post.email %></h5>
        <br />
        <h5><i class="fas fa-link"></i> <%= t 'contact.other' %>:</h5>
        <% post.other_sns_urls.split(',').each do |url| %>
          <a href="<%= url %>"><%= url %><i class="fas fa-external-link-alt"></i></a><br />
        <% end %>
      </div>
    </div>
  </div>
</div>
