<%= form_with(model: post, local: true, class: 'row', id: 'new_post_form') do |form| %>
  <% if post&.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='col-lg-3' id='demand_inputs_div'>
    <h4><%= t 'posts.demand_title' %></h4>
    <sm>* <%= t 'form_hint.fill_in_at_least_one' %></sm>

    <% suppliments_names_units.each do |key, name_unit| %>
      <% next if key == 'other' %>
      <div class="form-group">
        <%= "#{name_unit['name']} (#{name_unit['unit']}):" %>
        <%= form.number_field "demand_#{key}".to_sym, class: 'form-control', value: post.demand ? post.demand[key.to_sym] : nil %>
      </div>
    <% end %>

    <div class="form-group">
      <%= t 'posts.other_field' %>:<%= form.text_area :demand_other, class: 'form-control', value: post.demand ? post.demand.other : nil %>
    </div>

    <hr />
  </div>

  <div class='col-lg-3 offset-lg-1' id='supply_inputs_div'>
    <h4><%= t 'posts.supply_title' %></h4>
    <sm>* <%= t 'form_hint.fill_in_at_least_one' %></sm>

    <% suppliments_names_units.each do |key, name_unit| %>
      <% next if key == 'other' %>
      <div class="form-group">
        <%= "#{name_unit['name']} (#{name_unit['unit']}):" %>
        <%= form.number_field "supply_#{key}".to_sym, class: 'form-control', value: post.supply ? post.supply[key.to_sym] : nil %>
      </div>
    <% end %>

    <div class="form-group">
      <%= t 'posts.other_field' %>:<%= form.text_area :supply_other, class: 'form-control', value: post.supply ? post.supply.other : nil %>
    </div>

    <hr />
  </div>

  <div class='col-lg-3 offset-lg-1' id='preference_inputs_div'>

    <div class="form-group">
      <h4><%= t 'preferences.title' %></h4>
      <b><%= t 'preferences.method' %>:</b><br />
      <sm>* <%= t 'form_hint.select_one' %></sm><br />
      <i class="fas fa-shipping-fast"></i> <%= t 'preferences.method_mail' %> <%= form.radio_button :exchange_method, t('preferences.method_mail') %><span class='px-3'></span>
      <i class="fas fa-user-friends"></i> <%= t 'preferences.method_in_person' %> <%= form.radio_button :exchange_method, t('preferences.method_in_person') %><span class='px-3'></span>
      <i class="fas fa-shipping-fast"></i> <i class="fas fa-user-friends"></i> <%= t 'preferences.method_both' %> <%= form.radio_button :exchange_method, "Both", required: 'true' %>
    </div>

    <div id='preference_inputs_div'>
      <div class="form-group">
        <b><i class="far fa-calendar-alt"></i> <i class="far fa-clock"></i> <%= t 'preferences.date_time' %>:</b><%= form.text_area :preferred_date_time, class: 'form-control' %>
      </div>
      <div class="form-group">
        <b><i class="fas fa-map-marker-alt"></i> <%= t 'preferences.place' %> (<%= t 'preferences.place_hint' %>):</b><%= form.text_area :preferred_place, class: 'form-control' %>
      </div>
    </div>

    <hr />

    <div id='contact_inputs_div'>
      <h4><%= t 'contact.title' %></h4>
      <sm>* <%= t 'form_hint.fill_in_at_least_one' %></sm>
      <div class="form-group">
        <b><i class="fas fa-phone"></i> <%= t 'contact.phone' %>:</b><%= form.text_field :phone, class: 'form-control' %>
      </div>
      <div class="form-group">
        <b><i class="far fa-envelope"></i> <%= t 'contact.email' %>:</b><%= form.text_field :email, class: 'form-control' %>
      </div>
      <div class="form-group" id='other_sns_url_inputs_div'>
        <b><i class="fas fa-link"></i> <%= t 'contact.other' %>:</b> <span class='btn btn-primary py-0' id='form_add_url_input_button'>+</span><br />
        <% if urls = post&.other_sns_urls %>
          <% urls.split(',').each do |url| %>
            <input class="form-control" type="text" name="post[other_sns_urls][]" value='<%= url %>'>
          <% end %>
        <% end %>
        <input class="form-control" type="text" name="post[other_sns_urls][]">
      </div>
    </div>

    <br />

    <div class="actions">
      <br />
      <%= form.submit class: 'btn btn-success', id: 'form_submit', disabled: true %>
    </div>
  </div>
<% end %>

<style media="screen">
  h4 {
    padding-left: 10px;
    border-left: 5px solid green;
  }
</style>
