<div class='row'>

<% @posts.each do |post| %>
  <div class='col-lg-3 p-2'>
    <div class='p-3 card'>
      <div class='row' style='height: 200px; overflow: auto;'>
        <div class='col-lg-6'>
          <h4><%= t 'posts.demand_title' %></h4>
          <% post.demand.attributes.except!('id', 'post_id', 'created_at', 'updated_at').compact.each do |key, value| %>
            <p class='border-bottom'>
              <%= suppliments_names_units[key]['name'] %>
              <% unless key == 'other' %>
                <span class='badge badge-info'><%= value %></span>
                <%= suppliments_names_units[key]['unit'] %>
              <% else %>
                : <%= value %>
              <% end %>
            </p>
          <% end %>
        </div>
        <div class='col-lg-6'>
          <h4><%= t 'posts.supply_title' %></h4>
          <% post.supply.attributes.except!('id', 'post_id', 'created_at', 'updated_at').compact.each do |key, value| %>
            <p class='border-bottom'>
              <%= suppliments_names_units[key]['name'] %>
              <% unless key == 'other' %>
                <span class='badge badge-info'><%= value %></span>
                <%= suppliments_names_units[key]['unit'] %>
              <% else %>
                : <%= value %>
              <% end %>
            </p>
          <% end %>
        </div>
      </div>

      <hr />

      <div style='height: 80px; overflow: auto;'>
        <b><%= t 'preferences.title' %></b><br />
        <%= t 'preferences.method' %>: <%= post.exchange_method == 'Both' ? t('preferences.method_both_alternative') : post.exchange_method %>
        <br />
        <%= t 'preferences.date_time' %> <i class="far fa-calendar-alt"></i>: <%= post.preferred_date_time %>
        <br />
        <%= t 'preferences.place' %> <i class="fas fa-map-marker-alt"></i>: <%= post.preferred_place %>
        <br />
      </div>

      <hr />

      <% if page == 'my_posts' %>
        <div style='height: 80px; overflow: auto;'>
          <b><%= t 'contact.title' %></b>
          <br />
          <%= t 'contact.phone' %>: <%= post.phone %>
          <br />
          <%= t 'contact.email' %>: <%= post.email %>
          <br />
          <%= t 'contact.other' %>: <%= post.other_sns_urls %>
        </div>

        <hr />
      <% end %>

      <div class='row'>
        <% unless page == 'my_posts' %>
          <div class='col-4' data-toggle="modal" data-target="#contact_modal_<%= post.id %>">
            <button class='btn btn-success'><%= t 'contact.title' %></button>
          </div>
        <% end %>

        <% if page == 'my_posts' || post.user_id == current_user.id %>
          <div class='col-4'>
            <%= link_to t('edit'), edit_post_path(post), class: 'btn btn-warning' %>
          </div>

          <div class='col-4'>
            <% if post.open_status %>
              <%= button_to t('close'), "/posts/close/#{post.id}?redirect_path=#{page}", class: 'btn btn-danger' %>
            <% else %>
              <%= button_to t('reopen'), "/posts/reopen/#{post.id}?redirect_path=#{page}", class: 'btn btn-warning' %>
            <% end %>
          </div>
        <% else %>
          <% if @followed_post_ids&.include?(post.id) || page == 'followed_posts' %>
            <%= button_to t('unfollow'), "/posts/unfollow/#{post.id}?redirect_path=#{page}", class: 'btn btn-danger' %>
          <% else %>
            <%= button_to t('follow'), "/posts/follow/#{post.id}?redirect_path=#{page}", class: 'btn btn-warning' %>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
  <%= render partial: 'posts/contact_modal', locals: { post: post } %>
<% end %>

<div class='col-12'>
  <%= paginate @posts %>
</div>

</div>
