<h2><i class="far fa-question-circle"></i> <%= t('about_title') %></h2>

<div class='card'>
  <div class="card-body">
    <h6 class='mb-4'><%= t 'about1' %></h6>
    <h6 class='mb-4'><%= t 'about2' %></h6>
    <h6 class='mb-4'><%= t 'about3' %></h6>
    <p class='mb-2'><%= t 'about4' %></p>
    <p class='mb-2'><%= t 'about5' %></p>

    <hr />

    <h6 class='mb-4'><i class="far fa-envelope"></i> <%= t 'contact.title' %>: anti.corona.front@gmail.com</h6>
    <h6 class='mb-4'>
      <a href='https://github.com/YHhaoareyou/anti_corona_front' target='_blank'>
        <i class="fab fa-github"></i> Source code
      </a>
    </h6>

    <hr />

    <p class='text-danger'><%= t 'disclaimer1' %></p>
    <p class='text-danger'><%= t 'disclaimer2' %></p>
  </div>
</div>
