<p id="notice"><%= notice %></p>

<h1 class='text-success'>Posts</h1>

<%= link_to "View only my posts", "/users/#{current_user.id}" %>

<div class='row'>
  <% @posts.each do |post| %>
    <div class='col-3 p-2'>
      <div class='p-3' style='border: 1px solid #ccc; border-radius: 5px; cursor: pointer;' onclick="window.location = '/posts/<%= post.id %>';">
        <div class='row'>
          <div class='col-6'>
            <h4>I need...</h4>
            <% post.demand.attributes.except!('id', 'post_id', 'created_at', 'updated_at').compact.each do |key, count| %>
              <p><%= suppliments_names_units[key]['eng_name'] %> <%= count %> <%= suppliments_names_units[key]['eng_unit'] %></p>
            <% end %>
          </div>
          <div class='col-6'>
            <h4>I can provide...</h4>
            <% post.supply.attributes.except!('id', 'post_id', 'created_at', 'updated_at').compact.each do |key, count| %>
              <p><%= suppliments_names_units[key]['eng_name'] %> <%= count %> <%= suppliments_names_units[key]['eng_unit'] %></p>
            <% end %>
          </div>
        </div>

        <hr />

        <div>
          Preferred Exchange Method: <%= post.exchange_method == 'Both' ? 'Mail or In Person' : post.exchange_method %>
          <br />
          Preferred Exchange Date & Time: <%= post.preferred_date_time %>
          <br />
          Preferred Exchange Place: <%= post.preferred_place %>
          <br />
        </div>

      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Post', new_post_path %>
